*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #6d6d7a;
  line-height: 1.563;
}

/* UTILS */

.title {
  font-family: 'Raleway', sans-serif !important;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
  color: #6d6d7a;
}

ul li {
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1600px !important;
  margin: 0 auto;
  /* overflow: auto; */
  padding: 0 20px;
}
